<div class="top-div">
	<section class='top-section'>
		<h1 id="feats-title">feats</h1>
		<h2>Celebrate completing everything, even the small things.</h2>
	</section>
</div>

<div class="middle-div">
<section class="middle-section">
		<h3>How It Works</h3>
		<div class="home-box">
			<h4>Add a feat</h4>
			<p>Add a 'feat', a small description of a task you have to do.</p>
		</div>
		<div class="home-box">
			<h4>Complete the feat</h4>
			<p>Click the checkmark next to the feat you've completed.</p>
		</div>
		<div class="home-box">
			<h4>Get rewarded</h4>
			<p>Enjoy rewards such as badges, new theme options and tracking of everything you've accomplished!</p>
		</div>
	</section>
</div>

<div class="bottom-div">
	<section class="get-started">
		<h3>Get Started Now!</h3>
		<p>
			Create an account and start completing feats!
		</p>
		<%= button_to 'Create an Account', new_user_path, :method => :get , :form_class => "newuser" %>
	</section>
</div>