.dashboard-container {
	width: 100%;
	background: #EEEEEE;
}

#sidebar {
	background: #1B272E;

	padding: 0;
}

.profile-picture{
	height: 180px;
	width: 180px;
	border-radius: 50%;
	border: 5px solid white;
	margin: auto;
	padding: 10%;
	margin-top: 2em;
	margin-bottom: 1em;
	background: grey;
}

.profile-avatar img {
	border: 5px solid white;
	display: inline-block;
	border-radius: 50%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 1em;
}



.profile {


}

.profile p {
	color: white;
}

.progress-meter {
	padding-bottom: 10px;
}

#user-specs {
	width: 100%;
	margin: 0;
}

.active {
	background: #EEEEEE;
}

.side-bar-custom {
	background: #1B272E;
	margin: 0;
}

.side-bar-custom li {

}

.side-bar-nav .columns {
	padding: 0;
}

.side-bar-logo {
	float: left;
	display: inline-block;
}

#feats-number {
	font-size: 6em;
	margin: 0;
	font-weight: bold;
}

#feats-number span {
	font-size: 2em;
	color: #3FC0FF;

}

#feats-number-completed {
	font-size: 5em;
	margin: 0;
	font-weight: bold;
	padding-bottom: .5em;
}

#feats-number-completed span {
	font-size: 2em;
	color: #3FC0FF;

}


.dashboard-main {
	background: #EEEEEE;
	color: #848484;
}

.dashboard-main * {
	color: #848484;
}


.tasks-container {
	background: white;
	max-height: 260px;
	overflow: scroll;
}

.badge-icon {
	display: inline-block;
	padding-bottom: 1em;
}

.task-row {
	padding-top: 1em;
}
.task-row p {
	font-size: 200%;
}

.tasks-row {
	background: white;
	padding-top: 2em;
	padding-bottom: 1em;
}

.ago {
	color: red;
}


#sidebar {
	min-height: 100vh;
}

.theme-background-blue {
	background: #3FC0FF;	
}

.theme-background-gold {
	background: #FFB63F;
}

.theme-background-red {
	background: #FF3F3F;
}

.theme-color-blue {
	color: #3FC0FF;
}

.theme-color-gold {
	color: #FFB63F;
}

.theme-color-red {
 color: #FF3F3F;
}

.side-bar-nav i {
	display: inline-block;
	font-size: 180%;
	float: left;
}

.top-msg {
	margin-top: 1em;
	padding-top: 1em;
}
