@mixin centre-in {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	text-align:center; /* center horizontally */
  vertical-align:middle; /* center vertically */
}

#top-nav-logo {
	padding: 1em 2em;
	display: inline-block;
	margin-right: 20px;
}

#top-nav-logo a {
	color: white;
	text-decoration: none;
}

#top-nav-logo:hover {
	background: #444;
}

.top-nav {
	margin: 0;
	position: relative;
	display: block;
	color: white;
	width: 100%;
	background: black;
}

.top-nav-ul {
	margin: 0;
	display: inline-block;
	list-style: none;
	text-align: right;
	vertical-align: top;
	position: absolute;
	right: 0;
	top: 0;
	
}

.top-nav-item {
	padding: 1em 2em;
	display: inline-block;
	margin-right: 20px;
}

.top-nav-item a {
	color: white;
	text-decoration: none;
}

.top-nav-item:hover {
	background: #444;
}
body {
	height: 100%;
}
main {
	height: inherit;
	margin: 0;
	background-image: url('login-background.png');
	background-size: 100%;
	color: white;
}

.login-form form, .new-user-form form {
 @include centre-in;
}


h1 {
	margin: 0;
}

#feats-title {
	font-size: 1000%;
}

.login-form, .new-user-form {
	height: 91vh;
}

.input-group {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 1em;
}

input {
	height: 2em;
	color: black;
}

input[type="submit"]{
	color: white;
	width: 215px;
	border: none;
	background: #3FC0FF;
}

.error-msg {
	margin-top: 20px;
	padding: 1em;
	background: red;
}

.top-section {
	@include centre-in;
}

.top-div {
	height: 80vh;
}

.middle-div {
	padding: 3em;
	background-color: white;
	color: black;
	margin: 0;
	text-align: center;

	h3 {
		margin-bottom: 1em;
		font-size: 300%;
	}
}



.home-box {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-right: 1em;
	padding: 1em;


	h4 {
		background: #3ACCE9;
		padding: 1em;
		box-shadow: 0 5px 0 rgba(0,0,0,0.5);
		color: white;
	}

	p {
		text-align: left;
	}


}

.bottom-div {
	background-color: white;
	color: black;
	margin: 0;
	text-align: center;
	padding: 2em;

}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.newuser {
	margin-top: 1em;
}

footer {
	background: black;
	vertical-align: bottom;
	height: 100%;
}

.error_msgs {
	background: red;
	list-style: none;
	padding: 1em;
}






