.frontpage-hero {
	height: 600px;
/*	background-image: url('/assets/login-background.png');*/
  background: #3FC0FF;
	background-size: cover;
	margin: 0;
	padding: 20px;
}

#main-logo {
	font-size: 10em;
	
}

.white {
	color: white;
}

.middle-section {
	padding: 5%;
	background: white;
}

.middle-section i{
	font-size: 700%;
	padding: 5%;
	text-shadow: 0px 5px 0 rgba(0,0,0,0.3);
}

.middle-title {
	padding-bottom: 3%;
}

.extra-padding {
  padding-left: 10px !important; /* change the values to anything that you want */
  padding-right: 10px !important;
}

.get-started {
	padding: 5%;
	background: #1B272E;
	color: white;
}

.get-started h2 {
	color: white;
	padding-bottom: 3%;
}


footer {
	padding: 1rem;
	color: white;
	background: black;
}

#pagebody {
	background: #1B272E;

}

.tick-front { 
	width: 500px;

}

.footer-icons i {
	font-size: 250%;
	padding-right: 5px;
}
